body{
    font-family: 'Lato', sans-serif;
}
header img{
    width: 100px;
    height: 100px;
}
.header  .menu{
    text-transform: uppercase;
    padding: 8px;
    cursor: pointer;
    color: white;
    padding-right: 50px;
    padding-left: 40px;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    margin-bottom: 150px;
    background-color: orange;
    width: 100%;
    padding: 24px;
}

.container-buttons .button.prinary{
    color: white;
    background: orange;
    border: 1px solid orange;
    padding: 12px;
    border-radius: 99px;
}
.container-buttons .button.secondary{
    color: orange;
    background: transparent;
    border: 1px solid orange;
    padding: 12px;
    border-radius: 99px;
}
.container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('http://www.omnifood.net/resources/CSS/img/hero-min.jpg');
    height: 100vh;
    background-size: inherit;
    /* padding-left: 40px; */
    padding-top: 30px;
    
}
.divider{
    display: block;
    height: 2px;
    background-color: orange;
    width: 100px;
    margin: auto;
    margin-top: 30px 
}
.boss{
    color: white;
    padding-left: 50px;
}
body{
    margin: 0px;
}
.container2{
    text-align: center;
    padding: auto;
}
.container3{
    display: flex;
    gap: 48px;
    padding-left: 30px;
    font-size: small;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.grid img {
    width: 100%;
    height: auto;
    line-height: 0%;
}