body{
    font-family: 'Dosis', sans-serif;
    margin: 0px;
}
.container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://khuchieunghi.github.io/JSA03-khuchieunghi/public/background.png);
    height: 100vh;
    background-size: inherit;
    padding-left: 40px;
    padding-top: 30px;
    
}
.boxx{
    text-align: center;
    color: white;
    font-size: 150%;
    margin-top: 100px;
}
.time{
    text-align: center;
    color: white;
    

}

.colour{
    display: flex;
    flex-direction: column; 
    justify-content: center

}
.button1{
    color: black;
    background-color: yellow;
    border: 1px solid yellow;
    border-radius: 99px;
    padding: 12px;
    height: 80px;
    font-size: 150%;
    width: 400px;
    
}
.button2{
    color: white;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 99px;
    padding: 12px;
    height: 80px;
    margin-left: auto;
    font-size: 150%;
    width: 400px;
    margin-right: auto;
    margin-top: 20px;
}
.button3{
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 99px;
    padding: 12px;
    height: 80px;
    margin: auto;
    font-size: 150%;
    width: 400px;
    margin-top: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.grid img {
    width: 100%;
    height: auto;
    line-height: 0%;
}
input{
    display: block;
    width: 200px;
    border: 1px solid yellow;
    border-radius: 12px;
    height: 40px;
    margin: 0;
    
}
.boss{
     position: fixed;
     padding-left: 600px;
     color: #ffffff;
     font-size: 120%;
     
     
}
.bos{
    position: fixed;
    padding: 20px;
    color: white;
    padding-left: 570px;
    font-size: 150%;
    margin: 12px;
    
}
.flex{
    margin: 3px;
    color: white;
}
.box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}